<link rel="preload" href="{{AppSubUrl}}/assets/fonts/jetbrains-mono-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{AppSubUrl}}/assets/fonts/Exo2-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="{{AppSubUrl}}/assets/fonts/Exo2-SemiBold.ttf" as="font" type="font/ttf" crossorigin>

<script>
  document.fonts.load('400 1em "Exo 2"');
  document.fonts.load('600 1em "Exo 2"');
</script>
